<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>NServiceBus.Azure</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="CommonServiceLocator" Version="1.0" Mode="Fixed" />
    <Dependency Name="Fody" Version="1.16.2.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.Edm" Version="5.6.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.OData" Version="5.6.0" Mode="Fixed" />
    <Dependency Name="Microsoft.WindowsAzure.ConfigurationManager" Version="2.0.1.0" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="5.0.6" Mode="Fixed" />
    <Dependency Name="NServiceBus" Version="4.1.0-unstable3385" Mode="Float" />
    <Dependency Name="NServiceBus.Interfaces" Version="4.1.0-unstable3385" Mode="Float" />
    <Dependency Name="NUnit" Version="2.6.2" Mode="Fixed" />
    <Dependency Name="Obsolete.Fody" Version="2.3.0" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="System.Spatial" Version="5.6.0" Mode="Fixed" />
    <Dependency Name="WindowsAzure.ServiceBus" Version="2.1.2.0" Mode="Fixed" />
    <Dependency Name="WindowsAzure.Storage" Version="2.1.0.0" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs>
    <Nuspec File="nservicebus.azure.nuspec" Project="NServiceBus.Azure" />
  </Nuspecs>
</ripple>