<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>NServiceBus.Azure</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current,NextMajor</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" StabilityConvention="GitFlow" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" StabilityConvention="None" />
  </Feeds>
  <Nugets>
    <Dependency Name="Autofac" Version="3.0.0.0" Mode="Fixed" />
    <Dependency Name="Castle.Core" Version="3.2.0.0" Mode="Fixed" />
    <Dependency Name="Castle.Windsor" Version="3.2.0.0" Mode="Fixed" />
    <Dependency Name="Common.Logging" Version="1.2.0.0" Mode="Fixed" />
    <Dependency Name="CommonServiceLocator" Version="1.0" Mode="Fixed" />
    <Dependency Name="Iesi.Collections" Version="3.3.3.4000" Mode="Fixed" />
    <Dependency Name="log4net" Version="1.2.10.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.Edm" Version="5.6.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.OData" Version="5.6.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.Services.Client" Version="5.6.0" Mode="Fixed" />
    <Dependency Name="Microsoft.WindowsAzure.ConfigurationManager" Version="2.0.1.0" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="5.0.6" Mode="Fixed" />
    <Dependency Name="NLog" Version="2.0.1.2" Mode="Fixed" />
    <Dependency Name="NServiceBus" Version="4.7.0-Unstable0605" Mode="Float" />
    <Dependency Name="NServiceBus.AcceptanceTesting" Version="4.7.0-Unstable0605" Mode="Float" />
    <Dependency Name="NServiceBus.AcceptanceTests.Sources" Version="4.7.0-Unstable0605" Mode="Float" />
    <Dependency Name="NServiceBus.Interfaces" Version="4.7.0-Unstable0605" Mode="Float" />
    <Dependency Name="NUnit" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="RavenDB.Client" Version="2.0.2375.0" Mode="Fixed" />
    <Dependency Name="RavenDB.Database" Version="2.0.2380.0" Mode="Fixed" />
    <Dependency Name="RavenDB.Embedded" Version="2.0.2380.0" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="System.Spatial" Version="5.6.0" Mode="Fixed" />
    <Dependency Name="WindowsAzure.ServiceBus" Version="2.2.0.0" Mode="Fixed" />
    <Dependency Name="WindowsAzure.Storage" Version="3.1.0.1" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs>
    <Nuspec File="nservicebus.azure.nuspec" Project="NServiceBus.Azure" />
    <Nuspec File="nservicebus.hosting.azure.nuspec" Project="NServiceBus.Hosting.Azure" />
    <Nuspec File="nservicebus.hosting.azure.hostprocess.nuspec" Project="NServiceBus.Hosting.Azure.HostProcess" />
    <Nuspec File="nservicebus.azure.transports.windowsazureservicebus.nuspec" Project="NServiceBus.Azure.Transports.WindowsAzureServicebus" />
    <Nuspec File="nservicebus.azure.transports.windowsazurestoragequeues.nuspec" Project="NServiceBus.Azure.Transports.WindowsAzureStorageQueues" />
  </Nuspecs>
</ripple>