<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="AzureServiceBusQueueConfig" type="NServiceBus.Config.AzureServiceBusQueueConfig, NServiceBus.Azure" />
    
  </configSections>

  <AzureServiceBusQueueConfig ConnectionString="Endpoint=sb://nservicebus.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=RduP2XX36TAVpDNXFY5Fiteu0yG0pNKmjHaVJ5dgBco=" />
  
  <!--<MessageForwardingInCaseOfFaultConfig 
    ErrorQueue="The queue to which errors will be forwarded." />-->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Hybrid.Messages" Endpoint="hybrid.server" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <AuditConfig QueueName="auditqueue" />
</configuration>